<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Editor test</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>

</head>
<body>
<h1>CKEditor 5 – Classic editor</h1>
<form action="/save" method="post" th:object="${form}">
        <textarea name="content" id="editor">
            &lt;p&gt;This is some sample content.&lt;/p&gt;
        </textarea>
    <p><button type="submit" id="submit"> SEND </button></p>
    <input type="hidden" th:field="${form.message}" id="input">
</form>
</body>
    <script th:src="@{/home.js}"></script>
</html>
